# Changes here will be overwritten by Copier.
_src_path: "{{ _copier_conf.src_path }}"
_commit: "{{ _copier_conf.vcs_ref }}"
app_name: "{{ app_name }}"
app_slug: "{{ app_slug }}"
bundle_prefix: "{{ bundle_prefix }}"
url_scheme: "{{ url_scheme }}"
profile: "{{ profile }}"
navigation: "{{ navigation }}"
primary_locale: "{{ primary_locale }}"
